<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div class="positionimage", style="margin-top: 10px;">
  <%= link_to "Editar este comentario", edit_comment_path(@comment) , class:"btn btn-secondary" %> <br>
  <%= link_to "Volver a todas las publicaciones", publications_path, class:"btn btn-dark" %>
</div>
<br><br>