<h1>Editar Rol de Usuario</h1><br><br>

<%= form_for @user, url: update_role_user_path(@user), method: :patch do |f| %>
  <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] }, {}, class: 'form-control' %>  <br><br>
  <%= f.submit 'Guardar', class: 'btn btn-primary' %>
<% end %> <br><br>

<p> Profeeeeee esto no sali칩, iba bien asignando roles por medio de pgAdmin pero <br> 
como la idea era hacerlo ac치, busque ayuda para este c칩digo pero est치 re dificil <br> 
lo que si, es que si cambio la id de la url como que "ingreso" al usuario de ese id <br>
y le puedo asignar un rol, pero ya hacer lo del select para seleccionar en si al usuario que quiero, no pudee :c </p>

<%= image_tag '7.gif', style: "width: 800px; height: 500px;" %> <br><br>

