
<div class="positionimage">
    <h1> BIENVENIDOS </h1> <br><br>
    <%= image_tag '2.gif', style: "width: 600px; height: 500px;" %>  <br><br>   
    <h2> REGLAS DE LA PAGINA</h2> <br><br>
    <%= image_tag '5.jpg', style: "width: 800px; height: 500px;" %> <br><br>
    <ul class="reglas">
        <li> No es necesario el registro para ver nuestras publicaciones pero si para comentar.</li>
        <li> Al registrarse, aceptas los términos y condiciones de The Rial News.</li>
        <li> The Rial News es un lugar abierto donde se respeta la libertad de expresión. </li>
        <li> Puedes publicar, comentar y editar tus publicaciones, siempre y cuando no afecten la integridad de otras personas.</li>
        <li> Al registrarte, eres responsables de tus propias publicaciones y comentarios.</li>
        <li> Los administradores se reservan el derecho de eliminar cualquier contenido que incumpla las reglas o que sea considerado inapropiado.</li>
    </ul> <br><br>
</div>
